body {
    font-family:'Times New Roman', Times, serif;
    font-size: 1.2em;    
}

header {
    background-color: #222222;
    text-align: center;
    padding-bottom: 5px;

}

nav {
    background-color: #FFD700;
    padding:2px;
    margin-bottom:10px;

}
main {
    background-color: #F5F5DC;
    font-size: 1em;
    padding: 10px;
}

main img {
    
    width:20%;
}

footer {
    background-color: #222222;
    color: white;
    text-align: center;
    padding:2px;
}

footer a {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 1em;
    color:yellow;
    text-decoration: none;        
}

footer a:hover {
    background-color: #FFD700;
    color: black;
   
}

nav li {
    display: inline;
    width: 100%;
    padding: 2px;
}

nav li a {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 1.3em;
    color:black;
    text-decoration: none;  
    padding: 10px;      
}

nav li a:hover {
        background-color: black;
        color:wheat;        
    }



h1 {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: white;
}
